<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="csrf-token" content="{{csrfToken}}" />
    <meta name="color-scheme" content="light dark" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Space+Grotesk:wght@400;500;700&family=Syne:wght@600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon-memphis.svg" />

    <title>Memphis Shelf</title>
  </head>

  <body class="app-shell">
    <header class="site-header">
      <nav class="navbar navbar-expand-lg memphis-navbar">
        <a
          class="navbar-brand brand-block"
          href="{{#if currentUser}}/home{{else}}/{{/if}}"
          aria-label="Memphis Shelf home"
        >
          <img
            src="/images/logo-memphis.svg"
            width="92"
            height="92"
            class="brand-logo"
            alt="Memphis Shelf logo"
          />
          <span class="brand-name">Memphis Shelf</span>
        </a>
        <button
          class="navbar-toggler memphis-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navigator" id="navbarNav">
          <ul class="navbar-nav ml-auto nav-links">
            <li class="nav-item">
              <a class="nav-link memphis-nav-link" href="{{#if currentUser}}/home{{else}}/{{/if}}">
                Home
              </a>
            </li>
            {{#if currentUser}}
              <li class="nav-item">
                <a class="nav-link memphis-nav-link" href="/browse">Browse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link memphis-nav-link" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <form method="POST" action="/logout" class="m-0">
                  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                  <button type="submit" class="nav-link btn btn-link memphis-nav-link p-0">
                    Log out
                  </button>
                </form>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link memphis-nav-link" href="/login">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link memphis-nav-link" href="/">Sign up</a>
              </li>
            {{/if}}
            <li class="nav-item theme-toggle-item">
              <button id="themeToggle" type="button" class="theme-toggle" aria-label="Toggle color theme">
                <span class="theme-icon" aria-hidden="true">☼</span>
                <span class="theme-label">Light Mode</span>
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container app-main">
      {{{ body }}}
    </main>

    <footer class="site-footer">
      <p>MEMPHIS SHELF</p>
      <p>Read loud. Read bold.</p>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <!-- Moments.js -->
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

    <!-- Main JS -->
    <script src="/js/csrf.js"></script>
    <script src="/js/theme.js"></script>
    {{!-- <script src="../js/home.js"></script> --}}
    {{#each js}}
    {{!-- {{this}} --}}
      <script src="/js/{{this}}"></script>
    {{/each}}
  </body>
</html>
